body {
    background: url('_1220-3465.jpg') center/ cover;
}
.header-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 660px;
}
.header-nav__item {
    height: 145px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}
.header-nav__link {
     display: flex;
     flex-direction: column;
     padding: 0 20px;
     color: rgb(182, 17, 17);

}
.corect{
    font-style:italic;
    font-size: 50px; 
    color: #679c12; 
    justify-content: center; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
.corect:before { 
    content:"\2615"; 
    display: inline-block;
    margin-right: 10px; 
    }
h2 {
    color: rgb(197, 28, 28);
    font-style:italic;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 550px;
}
.list {
    list-style-type: none;
    padding: 0 50px;
    max-width: 500px;
    
}
.list li {
    padding: 10px 30px;
    background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
}
.background {
    max-width: 660px;
    padding: 20px;
    font-size: medium;
    font-weight: bold;
}
.footer-nav {
    display: flex;
    align-items: center;
    align-content: space-between;
}
footer a {
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 18px;

    background-image: linear-gradient(#EE5E4F 50%, #EE5E4F 50%), linear-gradient(silver 50%, silver 50%); 
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 0 .063em, 100% .063em; 
    color: #607584; 
    padding-bottom: .188em; 
    transition: background-size .5s;
}
footer a:hover {
    background-size: 100% .063em, 100% .063em; 
    background-position: left bottom;
}
.pages > ul{
    list-style: none;
    font-size: small; 
}
.pages > ul li {
    padding: 10px 10px;  
    text-decoration: none; 
    display: flex; 

}
.pages-2 {
    font-size: small; 
    max-width: 500px;
    margin: 40px;
}
h3 {
    margin-left: 20px;
}
p {
    text-align: center;
    font-size: smaller; 
}
 